{% include 'error.html' %}
<form action="" method="post" accept-charset="utf-8" class="form" role="form">
    {% csrf_token %}
    <label for='first_name'>Name</label>
    <div class='row'>
        <div class="col-xs-6 col-md-6">
            <input type="text" name="first_name" value="{{ requested_user.first_name }}" class="form-control" placeholder="First Name" required />
        </div>
        <div class="col-xs-6 col-md-6">
            <input type="text" name="last_name" value="{{ requested_user.last_name }}" class="form-control" placeholder="Last Name"  required />
        </div>
    </div>
    <br />
    <label for='email'>Email</label>
    <input type="text" name="email" value="{{ requested_user.email }}" class="form-control" placeholder="Email" required = "" />
    <br />
    <label for='password'>Password</label>
    <input type="password" name="password" class="form-control field-pair-top" placeholder="Password"  required = "" />
    <input type="password" name="confirm_password" class="form-control field-pair-bottom" placeholder="Confirm Password" required = "" />
    <br />
    <br />
    <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
        Save
    </button>
</form>
