{% extends 'base.html' %}
 {% block title %}Home{% endblock %}

{% block content %}
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% include 'create.html' %}
        </div>
    </div>
</div>
<h1 class='text-center'>Quote<strong>Maker</strong>
    <br/>
    <small>Automatically generate fake quotes that sound like whomever you like!</small>
    <br />
    <div id='about'><a href='https://github.com/harlanhaskins/QuoteMaker'>How does it work?</a></div>
</h1>
{% if user.is_authenticated %}
<br/>
<button type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#createModal'>
    Create a Quote<strong>Maker</strong>
</button>
<br />
{% endif %}
<br />
<div class='list-group'>
    {% for quotemaker in quotemakers %}
    <a href='/{{ quotemaker.path }}' class='list-group-item col-md-6 col-sm-12'>
        <span class='name'>{{ quotemaker.name }}</span>
        <br />
        <span class='subtitle'>{{ quotemaker.tagline }}</span>
    </a>
    {% endfor %}
</div>
{% endblock %}
