{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{quotemaker.name}} Quote Generator{% endblock %}
{% block extra %}
<script>
var frontendUrl = "https://quotemaker.co/{{ quotemaker.path }}";
var apiUrl = "https://quotemaker.co/api/quotes/{{ quotemaker.path }}";
var name = "{{ quotemaker.name }}";
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 id='quote-title' class="title text-center">
            {{ quotemaker.name }} Quote<strong>Maker</strong><br>
            <small>&quot;{{ quotemaker.tagline }}&quot;</small>
        </h1>
    </div>
    <br><br>
    <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
            <div class='text-center'>
                <h1 id="quote" class="mcgarg">
                    &quot;{{ quotemaker.new_string }}&quot;
                </h1>
                <br><br>
                <button id="generate" onclick='$(this).getQuote();'class="btn btn-success btn-xl">More Please!</button>
            </div>
            <hr>
            <div class='text-center'>
                <a id="twitter" class="btn btn-info" href="#" target="_blank">Tweet This!</a>
                <a id="facebook" class="btn btn-primary" href="#" target="_blank">Facebook It!</a>
                {% if user == quotemaker.submitter or user.is_superuser %}
                <form action='{% url 'quote:delete' %}' method='post' charset='utf-8'>
                    {% csrf_token %}
                    <input type='hidden' name='path' value='{{ quotemaker.path }}' />
                    <button class='btn btn-danger' type='submit'>Delete</button>
                </form>
                {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    <script src="{% static 'js/app.js' %}"></script>
    {% endblock %}
