{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<form action="search" method="get" accept-charset="utf-8" class="form" role="form">
    <div class='input-group'>
        <input name='q' type='text' class='form-control' placeholder='Name or Tagline' value='{% if q %}{{ q }}{% endif %}'></input>
        <span class='input-group-btn'>
            <button type='submit' class='btn btn-primary'>Search</button>
        </span>
    </div>
</form>
<br />
<div class='list-group'>
    {% if quotemakers %}
        {% for quotemaker in quotemakers %}
            <a href="{% url 'quote:quote' quotemaker.path %}" class='list-group-item'>
                <span class='name'>{{ quotemaker.name }}</span>
                <br />
                <span class='subtitle'>{{ quotemaker.tagline }}</span>
            </a>
        {% endfor %}
    {% else %}
    <h3 class='text-center'>{% if q %}No Results for &quot;{{ q }}&quot;{% else %}Enter a Search Term{% endif %}</h3>
    {% endif %}
</div>
{% endblock %}
