{% extends 'base.html' %}

    {% block title %}{{character.name}} Quote Generator{% endblock %}
    {% block head_extra %}
    <script>
        var frontendUrl = "http://quotemaker.co/{{ character.path }}";
        var apiUrl = "http://quotemaker.co/api/quotes/{{ character.path }}";
    </script>
    {% endblock %}

    {% block body %}
		<div class="row">
			<div class="col-md-12">
		 		<h1 class="title">
                    {{ character.name }} Quote Generator<br>
                    <small>&quot;{{ character.tagline }}!&quot;</small>
		 		</h1>
		 	</div>
		</div>
		<br><br>
 		<div class="row">
	 		<div class="col-md-8 col-md-offset-2">
	 			<div class="jumbotron">
	 				<h1 id="quote" class="mcgarg">
                        &quot;{{ character.new_string() }}&quot;
	 				</h1>
	 				<br><br>
	 				<button id="generate" onclick='$(this).getQuote();'class="btn btn-success btn-xl">More Please!</button>
	 				<hr>
	 				<a id="twitter" class="btn btn-info" href="#" target="_blank">Tweet This!</a>
	 				<a id="facebook" class="btn btn-primary" href="#" target="_blank">Facebook It!</a>
	 			</div>
	 		</div>
	 	</div>
	</div>
    {% endblock %}

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% endblock %}
