.center {
	text-align: center;
}
.title {
	font-size: 4em;
}
.subtitle {
    font-style: italic;
    font-size: 12pt;
}
.name {
    font-style: bold;
    font-size: 24pt;
}
#quote {
    font-family: 'Quattrocento', inherit;
    font-size: 36pt;
}
.btn-xl {
	height: 75px;
	font-size: 2.5em;
	border-radius: 15px;
}
.gray {
	color: #AAAAAA;
}
.gray a {
	color: #80A3C2;
}
