@font-face {
	font-family: "bauhaus93";
	src: url(../fonts/bauhaus93.ttf);
}
@font-face {
	font-family: "mcgarg";
	src: url(../fonts/mcgarg.ttf);
}
.bauhaus {
	font-family: "bauhaus93";
}
.mcgarg {
	font-family: "mcgarg";
}
body {
    font-family: -apple-system, sans-serif;
}
.center {
	text-align: center;
}
.title {
	font-size: 4em;
}
#quote {

}
.btn-xl {
	height: 75px;
	font-size: 2.5em;
	border-radius: 15px;
}
.gray {
	color: #AAAAAA;
}
.gray a {
	color: #80A3C2;
}
