.center {
	text-align: center;
}
.title {
	font-size: 4rem;
}
.subtitle {
    font-style: italic;
    font-size: 2rem;
}
.name {
    font-style: bold;
    font-size: 24pt;
}
#quote {
    font-family: 'Quattrocento', inherit;
    font-size: 4rem;
}
.btn-xl {
	height: 75px;
	font-size: 2.5em;
	border-radius: 15px;
}
.gray {
	color: #AAAAAA;
}
.gray a {
	color: #80A3C2;
}

#about-text {
    line-height: 1.75;
    font-size: 2rem;
}

.field-pair-top {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: -1px;
}

.field-pair-bottom {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -2px;
}

a {
    text-decoration: none;
}

td {
    text-decoration: none;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

.container {
    max-width: 900px;
}

td.nowrap {
    white-space: nowrap;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#about {
    font-size: 1.5rem;
    margin-top: 25px;
}

@media(max-width: 767px) {
    #new-quote {
        width: 100%;
    }
}
